.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 41px;
}

.controls__prev-button,
.controls__next-button {
  @include controls-button-text;
  color: $text-color;

  &.disabled {
    color: $pale-text-color;
    cursor: auto;
  }
}

.controls__pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.controls__pagination-button {
  @include pagination-text;
  color: $text-color;

  &.active {
    color: $accent-text-color;
  }
}