.table {
  border-collapse: collapse;
}

.table__header-row {
  background-color: $bg-dark;
}

.table__header {
  min-height: 54px;
  text-align: start;

  &--id {
    width: 110px;
  }

  &--title {
    width: 530px;
  }

  &--description {
    width: 433px;
  }
}

.table__header-button {
  @include title-text;
  position: relative;
  margin-left: 100px;
  padding: 18px 50px 15px 23px;
  color: #fff;
  
  .table__header--id & {
    margin-left: 0;
  }

  &::after {
    position: absolute;
    content: '';
    top: 24px;
    right: 0;
    width: 12px;
    height: 7px;
    background: url('../../../img/arrow-down.svg') center no-repeat;
  }
}

.table__cell {
  @include common-text;
  height: 55px;
  padding: 15px 12px 14px;
  border: 1px solid $border-color;

  &:first-child {
    text-align: center;
  }
}
